<style type="text/css">td.head {
	background: #345b80;
	color: white;
	font-style: bold;
	font-family: Arial;
	text-align: center;
	border-color: #000;
	border-style: solid;
	border-width: 1px;
	padding: 6px 3px 6x 3px;
}


td.head-gray {
	background: #F3EBEB;
	color: #000;
}

td.head-gray1 {
	background: #9A9A9A;
	color: #000;
}

td.titulo1 {
	background: #008888;
	color: white;
	text-align: center;
	font-size: 25px;
	/*font-family:Arial,Geneva,Verdana,Helvetica;*/
	font-weight: bold;
	border-color: #FFF;
	border-style: solid;
	border-width: 1px;
	padding: 2px 2px 2x 2px;
}

input:focus {
	background-color: #E9E9E9;
}

td.titulo {
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: linear-gradient(#000099, #000099);
	border-radius: 6px;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
	color: white;
	text-align: center;
	font-size: 25px;
	/*font-family:Arial,Geneva,Verdana,Helvetica;*/
	font-weight: bold;
	border-color: #FFF;
	border-style: solid;
	padding: 0 10px;
	/*position: relative;*/
}

td.titulo2 {
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: linear-gradient(#000099, #000099);
	border-radius: 6px;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
	color: white;
	text-align: center;
	font-size: 25px;
	/*font-family:Arial,Geneva,Verdana,Helvetica;*/
	font-weight: bold;
	border-color: #FFF;
	border-style: solid;
	padding: 0 10px;
	/*position: relative;*/
}

td.selected {
	background: #00CC66;
	color: white;
	text-align: center;
	font-size: 18px;
	/*font-family:Arial,Geneva,Verdana,Helvetica;*/
	font-weight: bold;
	border-color: #FFF;
	border-style: solid;
	border-width: 1px;
	padding: 2px 2px 2x 2px;
}


td.subtitulo {
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: linear-gradient(#000099, #000099);
	color: white;
	text-align: center;
	font-size: 18px;
	/*font-family:Arial,Geneva,Verdana,Helvetica;*/
	font-weight: bold;
	border-color: #FFF;
	border-style: solid;
	border-width: 1px;
	padding: 2px 2px 2x 2px;
}


td.bold {
	font-weight: bold;
}

td.separador {
	background: #638cb5;
	color: white;
	text-align: center;
	font-size: 18px;
	/*font-family:Arial,Geneva,Verdana,Helvetica;*/
	font-weight: bold;
	border-color: #FFF;
	border-style: solid;
	border-width: 1px;
	padding: 2px 2px 2x 2px;
}

input.boton {
	background-image: linear-gradient(#000099, #B9C7C1);
	font-size: 14px;
	font-family: Verdana, Helvetica;
	font-weight: bold;
	color: white;
	border: 20px;
	width: 350px;
	height: 35px;
}

.myButton {
	background-color: #638cb5;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #0a0a0a;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 2px 2px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #2f6627;
}

.myButton:hover {
	background-color: #AAffb5;
	color: black;
}

.myButton:active {
	position: relative;
	top: 1px;
}

.myTable-gray {
	/*background-color:#EFEFEF;*/
	background-image: linear-gradient(#0080ff, #CCFFFF);
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #0a0a0a;
	cursor: pointer;
	padding: 1px 1px;
	text-decoration: none;
}

.link {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}

.link:hover {
	font-weight: bold;
	color: green;
}

.caja {
	margin: 20px auto 40px auto;
	border: 1px solid #d9d9d9;
	height: 30px;
	overflow: hidden;
	width: 70px;
	position: relative;
}

select {
	/*background: transparent;*/
	border: 3px solid #d9d9d9;
	font-size: 14px;
	height: 35px;
	padding: 5px;
}

select:focus {
	outline: none;
}

.caja::after {
	content: "\025be";
	display: table-cell;
	padding-top: 7px;
	text-align: center;
	width: 30px;
	height: 30px;
	/*background-color:#d9d9d9;*/
	position: absolute;
	top: 0;
	right: 0px;
	pointer-events: none;
}

table.menu-gray {
	background: #D2D2D2;
	border-color: #345b80;
	border-style: solid;
	border-width: 3px;
	text-align: center;
}

H1.SaltoDePagina {
	PAGE-BREAK-AFTER: always
}

</style>