<style type="text/css">td.head {
	background: #345b80;
	color: #66FF33;
	text-align: center;
	padding: 2px 2px 2x 2px;
}

td.head-gray {
	background: #CACACA;
	color: #000;
}

td.head-gray1 {
	background: #9A9A9A;
	color: #000;
}

td.titulo {
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
	background-image: linear-gradient(#000099, #000099);
	border-radius: 6px;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.4);
	color: white;
	text-align: center;
	font-size: 25px;
	/*font-family:Arial,Geneva,Verdana,Helvetica;*/
	font-weight: bold;
	border-color: #FFF;
	border-style: solid;
	padding: 0 10px;
	/*position: relative;*/
}

input.boton {
	background-image: linear-gradient(#000099, #B9C7C1);
	font-size: 16px;
	font-family: Verdana, Helvetica;
	font-weight: bold;
	color: white;
	border: 20px;
	width: 350px;
	height: 35px;
}

.Fields {
	background-color: #E9E9E9;
	border: 2px solid #A8A8A8;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 25px;
}

.myTable-gray {
	/*background-color:#EFEFEF;*/
	background-image: linear-gradient(#0080ff, #CCFFFF);
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 5px solid #000099;
	cursor: pointer;
	padding: 1px 1px;
	text-decoration: none;
}


table.menu-gray {
	background: #CACACA;
	border-color: #0B0;
	border-style: solid;
	border-width: 2px;
	text-align: center;
}

</style>